<h1>New Loan Payment</h1>
<form action="http://localhost:3000/loan_payment/results">

<label>APR</label>
<input type="text" name="apr">

<label>Years</label>
<input type="text" name="years">

<label>Principal</label>
<input type="text" name="principal">

<button>Submit</button>


</form>
